// Footer
footer {
	padding: 0.5rem 0;
	background: $primary-color;
	color: $secondary-color;
	font-family: 'Nunito-Bold';
	line-height: 2;
	text-align: center;

	@include respond-to-width(1024px) {
		font-size: 1.2rem;

		& a:focus i {
			@include pop-out-1;
		}
	}
}

.fa-linkedin-square {
	color: $secondary-color;
	font-size: $button-size;

	&:hover {
		@include pop-out-1;
	}
}
