// FLEXBOX
@mixin flex-layout($direction, $wrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin sticky-footer {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

// Animation
@mixin pop-out-1 {
	color: $tertiary-color;
	transform: scale(1.03);
	transition: color 350ms ease;
}

@mixin pop-out-2 {
	background: $tertiary-color;
	transform: scale(1.03);
	transition: all 350ms ease;
}

@mixin pop-out-3 {
	z-index: 1;
	transform: scale(1.03);
	transition: transform 350ms ease;
}

// Button
@mixin button {
	border: none;
	padding: 0.65rem 0;
	background: $primary-color;
	color: $secondary-color;
	font-family: 'Nunito-Bold';
	font-size: 1.1rem;

	&:hover,
	&:focus {
		@include pop-out-2;
		cursor: pointer;
	}
}

// Visually hidden
@mixin hidden-visually {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	width: 1px;
	height: 1px;
	white-space: nowrap;
}

// Media queries
@mixin respond-to-width($media) {
	@media only screen and (min-width: $media) {
		@content;
	}
}

@mixin respond-to-height($media) {
	@media only screen and (min-height: $media) {
		@content;
	}
}

@mixin respond-to-w-and-h($width, $height) {
	@media only screen and (min-width: $width) and (min-height: $height) {
		@content;
	}
}
